.todoMain {
    max-width: 100vw;
    align-items: center;
    margin: 5px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2dada;
    margin: 5px 0;
}

.icons {
    cursor: pointer;
}